
*:before,
*:after,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    font-weight:bold;

}
body{
    background: url(../photo/1.png);
}
.container{
    width: 40%;
    min-width: 450px;
    border: 1px solid black ;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 50px 30px;
    position: absolute;
    border-radius: 10px;
    box-shadow:5px 10px rgb(128, 126, 126 ,.3);
}
.intro{
    font-size: 25px;
    font-family: cursive;
    margin-bottom: 20px;
}
.input_wrapper{

padding: 30px 25px;
border-radius: 10px;
}
input,button{
    height: 50px;
    color: black;
    font-weight: 500px;
    border-radius: 10px;
}
input{
    width: 60%;
    padding: 0 15px;
    font-size: 20px;
}
button{
    width: 30%;
    float: right;
}
.output_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.output_wrapper div{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    color: rgb(199, 126, 38);;
    background-color: rgb(128, 126, 126, .5 );
    display: grid;
    place-items: center;
    margin-top: 50px;
    padding: 20px 0px;
    
}